html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
}
.container {
    height: 100%;
    width: 100%;
}
@media (max-width: 768px) {
  .btn-responsive {
    height: 10em;
    width: 10em;
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    height: 10em;
    width: 10em;
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}

.btn-responsive {
    height: 10em;
    width: 10em;
    margin: 2em 2em;
}

.btn-volume-up {
    background-color: #96ba02;
}
.btn-key-left {
    background-color: #9D449A;
}
.btn-key-right {
    background-color: #15989A;
}

.btn-volume-down {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}
